<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengramver.feed.comment.FeedCommentMapper">
    <insert id="insFeedComment" useGeneratedKeys="true" keyProperty="feedCommentId">
        INSERT INTO feed_comment
        SET feed_id = #{feedId}
        , user_id = #{userId}
        , comment = #{comment}
    </insert>

    <select id="selFeedCommentList">
        SELECT A.feed_comment_id AS feedCommentId
             , A.comment
             , A.user_id AS writerUserId
             , IFNULL(B.nick_name, B.uid) AS writerNm
             , B.pic AS writerPic
         FROM feed_comment A
        INNER JOIN user B
           ON A.user_id = B.user_id
        WHERE A.feed_id = #{feedId}
        ORDER BY A.feed_comment_id DESC
        LIMIT #{startIdx}, #{size}
    </select>

    <select id="selFeedCommentListByFeedIds">
        SELECT
        A.feed_id, A.feed_comment_id AS A_feed_comment_id, B.feed_comment_id AS B_feed_comment_id
        FROM feed_comment A
        LEFT JOIN feed_comment B
        ON A.feed_id = B.feed_id
        AND A.feed_comment_id &lt; B.feed_comment_id
        WHERE A.feed_id IN
        <foreach collection="feedIds" item="feedId" open="(" separator="," close=")">
            #{feedId}
        </foreach>
        GROUP BY A.feed_id, A.feed_comment_id
        HAVING COUNT(A.feed_comment_id) &lt; 4
        ORDER BY A.feed_id, A.feed_comment_id DESC;
    </select>

    <delete id="delFeedComment">
        DELETE FROM feed_comment
        WHERE feed_comment_id = #{feedCommentId}
        AND user_id = #{userId}
    </delete>
</mapper>